.wrapper {
  width: 100%;
  background-image: linear-gradient(rgb(66,65,67),rgb(5,5,5)); 
  height: auto;
  .giphy {
    &__title {
      color: rgb(251,250,252);
    }
    &__action{
      margin: 10px;
    }
    &__content{
      height: 500px;
      overflow: scroll; 
      .get_giphy {
        .artist {
          display: flex;
          flex-wrap: wrap;  
          list-style: none;
        }
        .loading {
          position: relative;
          img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            z-index: 10;
            width: 400px;
            height: 400px;
          }
        }
      }
    }
    
  }
}


